@media (prefers-color-scheme: dark) {
  /* 다크 모드에 적용할 스타일 정의 */
  body {
    background-color: rgb(17 24 39);
  }
}
html,
body {
  margin: 0;

  height: 100%;
}
#root {
  margin: 0;

  height: 100%;
}
body {
  font-family: "Poppins", "Noto Sans KR", "sans-serif";
}
